
@using Pracuj.ath.bielsko.pl.Helpers
@{
    ViewBag.Title = "Editor";
}

<h2>Editor</h2>
<br/>
@section Content
{

@using (Html.BeginForm("Editor","Editor", FormMethod.Post, new { onsubmit = "updateAllMessageForms();" }))
{
    @Html.TextArea("text", ViewBag.Data as string);
    @Html.TextEditor("text")

    <input type="submit" value="Ogien" class="buttonSearch buttonSearchLeft" style="max-width:120px;" >
}

}

